{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<head>
	<title>Slider</title>

</head>
<body>

	<div id="content-wrapper">
		

		<div class="column">
			<img id=featured src="{{item.image.url}}">

			<div id="slide-wrapper" >
				<img id="slideLeft" class="arrow" src="/images/arrow-left.png">

				<div id="slider">
                    <img class="thumbnail active" src="{{item.image.url}}">
                    <img class="thumbnail" src="{{item.image1.url}}">
					<img class="thumbnail" src="{{item.image2.url}}">
					<img class="thumbnail" src="{{item.image3.url}}">
					<img class="thumbnail" src="{{item.image4.url}}">
					
				</div>

				<img id="slideRight" class="arrow" src="/images/arrow-right.png">
			</div>
		</div>

		<div class="column">
			<h1>{{item.name}}</h1>
			<hr>
			<h3>${{item.price|floatformat:2}}</h3>

			<p>{{item.description}}</p>

			<a  data-item='{{item.id}}' data-action= 'add' class="btn btn-dark update-cart" href="#">Add to Cart</a>
		</div>

	</div>

	<script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail')

		let activeImages = document.getElementsByClassName('active')

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)
				
				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}
				

				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>

</body>


{% endblock content %}

